/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/diaproteomics -profile test
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Workflow Parameters
  irt_min_rsq = 0
  irt_alignment_method='linear'
  pyprophet_peakgroup_fdr = 1
  pyprophet_peptide_fdr = 1
  pyprophet_protein_fdr = 1
  realignment_target_fdr = 0.8
  realignment_rt_difference = 600
  realignment_max_fdr = 1
  realignment_score = 1
  realignment_method='linear'  
// Input data
  spectral_lib = ['https://github.com/nf-core/test-datasets/raw/diaproteomics/SpecLib_cons_openswath.pqp'] 
  dia_mzmls = ['https://github.com/nf-core/test-datasets/raw/diaproteomics/DIA_Test_1.mzXML', 'https://github.com/nf-core/test-datasets/raw/diaproteomics/DIA_Test_2.mzXML']
  swath_windows = ['https://github.com/nf-core/test-datasets/raw/diaproteomics/swath_windows.txt']
  irts = ['https://github.com/nf-core/test-datasets/raw/diaproteomics/DIA_iRT.TraML'] 
}
