/*
 * -------------------------------------------------
 *  Nextflow config file for running full-size tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-core/diaproteomics -profile test_full,<docker/singularity>
 */

params {
  config_profile_name = 'Full test profile'
  config_profile_description = 'Full test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 32
  max_memory = 16.GB
  max_time = 48.h
  pyprophet_classifier = 'XGBoost'
  pyprophet_peakgroup_fdr = 0.01
  pyprophet_peptide_fdr = 0.01
  pyprophet_protein_fdr = 0.01
  DIAlignR_global_align_FDR = 0.01
  DIAlignR_analyte_FDR = 0.01
  DIAlignR_unalign_FDR = 0.01
  DIAlignR_align_FDR = 0.05
  DIAlignR_query_FDR = 0.05
  min_overlap_for_merging = 10
  irt_min_bins_covered = 8
  n_irts = 250
  swath_windows = ''
  generate_spectral_library = true
  generate_pseudo_irts = true
  merge_libraries = true
  align_libraries = false
  force_option = true

  // Input data
  input = 'https://raw.githubusercontent.com/nf-core/test-datasets/diaproteomics/sample_sheet_full.tsv'
  unimod = 'https://raw.githubusercontent.com/nf-core/test-datasets/diaproteomics/unimod.xml'
  input_sheet_dda = 'https://raw.githubusercontent.com/nf-core/test-datasets/diaproteomics/dda_sheet_full.tsv'
}
