/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/diaproteomics -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // be aware these parameters should not be taken for real size DIA data
  // here shown parameters are only valid for the tiny CI test data-set of the DIAproteomics workflow
  pyprophet_global_fdr_level = ''
  pyprophet_peakgroup_fdr = 1
  pyprophet_peptide_fdr = 1
  pyprophet_protein_fdr = 1
  pyprophet_pi0_start = 0
  pyprophet_pi0_end = 0
  pyprophet_pi0_steps = 0
  DIAlignR_global_align_FDR = 1
  DIAlignR_analyte_FDR = 1
  DIAlignR_unalign_FDR = 1
  DIAlignR_align_FDR = 1
  DIAlignR_query_FDR = 1
  min_overlap_for_merging = 10
  n_irts = 25 
  irt_min_bins_covered = 1
  force_option = true

  // Input data
  input = 'https://raw.githubusercontent.com/nf-core/test-datasets/diaproteomics/sample_sheet.tsv'
  unimod = 'https://raw.githubusercontent.com/nf-core/test-datasets/diaproteomics/unimod.xml'
  irts = 'https://raw.githubusercontent.com/nf-core/test-datasets/diaproteomics/irt_sheet.tsv'
  input_spectral_library = 'https://raw.githubusercontent.com/nf-core/test-datasets/diaproteomics/library_sheet.tsv'
}
